<!DOCTYPE html>
<html>
  <head>
    <title>Customer Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% include 'header.html' %}
    <h2>Welcome, Customer!</h2>
    <!-- Customer-specific content -->
    <p>Customer Dashboard</p>
    <!-- Display products from the database -->
    <h3>Products</h3>
    <!-- Assuming you have a list of products from your database -->
    {% for product in products %}
    <div class="product">
      <!-- Display the product image using the image path from the database -->
      <img src="{{ product.image }}" alt="{{ product.name }}" />
      <h3>{{ product.name }}</h3>
      <p>Price: ${{ product.price }}</p>
      <p>Quantity: {{ product.quantity }}</p>
      <button class="add-to-cart" data-product-id="{{ product.id }}">
        Add to Cart
      </button>
    </div>
    {% endfor %}

    <form action="/logout" method="POST">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
